In [1]:
import matplotlib.pyplot as plt
from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
import tarfile
import urllib
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score, adjusted_rand_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
# example of fitting a model on the scaled dataset
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from pickle import dump
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pickle import load

In [59]:
df1=pd.read_csv("df_BACH__manerauno.csv")
col=df1.columns.tolist()[8:]
df1=df1[col]
df1.head(1)

,days_left,Lengua,Mates,Ingles,Dibujo,Fisica,Historia,media_troncales,Biologia,Quimica,Mates_sociales,Economia,Geografia,tipo_bachillerato-Sanitario,tipo_bachillerato-Sociales,tipo_bachillerato-Tecnologico
0,34,7.75,6.24,10.0,4.9,7.74,5.09,6.95,NaN,NaN,NaN,NaN,NaN,0,0,1

In [15]:
df.columns.tolist()[1:7]

['Lengua', 'Mates', 'Ingles', 'Dibujo', 'Fisica', 'Historia']

In [43]:
df = pd.DataFrame([[23,7.4,8.1,5.56,5.78,5.35,7.65,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,0,0,1]])
df.columns=df1.columns
df['media_troncales'] = df[df.columns.tolist()[1:7]].mean(axis=1)
df

,days_left,Lengua,Mates,Ingles,Dibujo,Fisica,Historia,media_troncales,Biologia,Quimica,Mates_sociales,Economia,Geografia,tipo_bachillerato-Sanitario,tipo_bachillerato-Sociales,tipo_bachillerato-Tecnologico
0,23,7.4,8.1,5.56,5.78,5.35,7.65,6.64,NaN,NaN,NaN,NaN,NaN,0,0,1

In [60]:
df1=pd.concat([df,df1.head(1)])
df1

,days_left,Lengua,Mates,Ingles,Dibujo,Fisica,Historia,media_troncales,Biologia,Quimica,Mates_sociales,Economia,Geografia,tipo_bachillerato-Sanitario,tipo_bachillerato-Sociales,tipo_bachillerato-Tecnologico
0,23,7.40,8.10,5.56,5.78,5.35,7.65,6.64,NaN,NaN,NaN,NaN,NaN,0,0,1
0,34,7.75,6.24,10.00,4.90,7.74,5.09,6.95,NaN,NaN,NaN,NaN,NaN,0,0,1

In [61]:
df1.to_csv("prediccion_manera1_modelo3_kmeans22_pca1.csv",index=False)

In [62]:

datafile='prediccion_manera1_modelo3_kmeans22_pca1.csv'
data = np.genfromtxt( #csv to array
    datafile,
    delimiter=",",
    usecols=range(1, 16),#tomar el array a partir de la columna 8, a partir de days_left
    skip_header=1
)
data=np.nan_to_num(data)
#data=data.reshape(1, -1)#si solo hay un dato
data

array([[ 7.4 ,  8.1 ,  5.56,  5.78,  5.35,  7.65,  6.64,  0.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ],
       [ 7.75,  6.24, 10.  ,  4.9 ,  7.74,  5.09,  6.95,  0.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ]])

In [36]:
pipe.predict(data)

array([12])

In [63]:
pipe = load(open('manera1_modelo3_kmeans22_pca1.pkl', 'rb'))
pcadf = pd.DataFrame(
    pipe["preprocessor"].transform(data),
    #columns=["component_1", "component_2", "component_3","component_4", "component_5","component_6"],
)

pcadf["predicted_cluster"] = pipe.predict(data)
pcadf.head()

          0  predicted_cluster
0 -0.642417                  4
1 -0.605663                 20